<%include ../include/header.html%>
<%articles.forEach(function(article){%>
    <div class="media"  style="width: 80%; margin: 50px auto;">
        <div class="media-left">
            <a href="#">
                <img class="media-object img-rounded" src="<%=article.user.avatar%>" alt="<%=article.user.username%>">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <a href="/article/detail/<%=article._id%>"><%=article.title%></a>
            </h4>
            <p><%-article.content%></p>
            <span>发表时间:<%=article.createAt.toLocaleString()%></span> <span>PV:<%=article.pv%></span>
        </div>
    </div>
<%});%>
<div class="row"  style="width: 80%; margin: 50px auto;">
     <a class="btn btn-primary" href="/article/list?pageNum=1&pageSize=2">2</a>
        <a class="btn btn-primary" href="/article/list?pageNum=1&pageSize=5">5</a>
        <a class="btn btn-primary" href="/article/list?pageNum=1&pageSize=10">10</a>
 </div>
<div class="row"  style="width: 80%; margin: 50px auto;">
        <nav>
            <ul class="pagination">
                <%if(pageNum>1){%>
                <li>
                    <a href="/article/list?pageNum=<%=pageNum-1%>&pageSize=<%=pageSize%>" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <%}%>
                <%for(var i=1;i<=totalPage;i++){%>
                <li class="<%=pageNum == i?'active':''%>"><a   href="/article/list?pageNum=<%=i%>&pageSize=<%=pageSize%>"><%=i%></a></li>
                <%}%>
                <%if(pageNum<totalPage){%>
                <li>
                    <a href="/article/list?pageNum=<%=pageNum+1%>&pageSize=<%=pageSize%>" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <%}%>
            </ul>
        </nav>
</div>


<%include ../include/footer.html%>